<a href="https://colab.research.google.com/github/fernandonakagawa/Curso_Python_32h/blob/main/Curso_Python_32h_Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio 03

In [1]:
"""leia do teclado as dimensões de um retângulo (base e
altura), calcular e escrever a área do retângulo. (Valores
inválidos: 0 e números negativos)."""

base = float(input("Digite o tamanho da base:"))
while base <= 0:
  print("Valor inválido.")
  base = float(input("Digite o tamanho da base:"))
altura = float(input("Digite o tamanho da altura:"))
while altura <= 0:
  print("Valor inválido.")
  base = float(input("Digite o tamanho da altura:"))
area = base * altura
print("A área do retângulo é ", area)

Digite o tamanho da base:4
Digite o tamanho da altura:5
A área do retângulo é  20.0

In [4]:
"""Leia 2 números e mostre o maior e o menor. (Valores
inválidos: números menores que -99 e maiores que 99)."""
#  -101 -100 -99 -98 .... 0 .... 10 11 ... 98 99 100 101

n1 = int(input("Digite o primeiro número: "))
while n1 < -99 or n1 > 99:
  print("Valor inválido.")
  n1 = int(input("Digite o primeiro número: "))
n2 = int(input("Digite o segundo número: "))
while n2 < -99 or n2 > 99:
  print("Valor inválido.")
  n2 = int(input("Digite o segundo número: "))
if n1 > n2:
  maior = n1
  menor = n2
else:
  maior = n2
  menor = n1
print("O maior número é",maior, "e o menor número é", menor)

Digite o primeiro número: 40
Digite o segundo número: -100
Valor inválido.
Digite o segundo número: 200
Valor inválido.
Digite o segundo número: -130
Valor inválido.
Digite o segundo número: 4000
Valor inválido.
Digite o segundo número: 50
O maior número é 50 e o menor número é 40

In [6]:
"""Enquanto a2=0 for menor que 3, incrementando 1 a cada laço,
mostre na tela o seu número multiplicado por 10."""
a2 = 0
while a2 < 3:
  print(a2*10)
  a2 += 1

0
10
20

In [8]:
#Tabuada
for i in range(11):
  for j in range(11):
    print(i, "*", j, "=", i*j)

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [9]:
"""Enquanto a3=20 for maior que 10, decrementando 1 a cada
laço, mostre na tela o seu número."""
for a3 in range(20,10,-1):
  print(a3)

20
19
18
17
16
15
14
13
12
11

In [11]:
"""leia 3 valores (A, B e C) representando as medidas de um
triângulo. Mostrar se tais medidas formam um triângulo ou
não. Lembre-se que o valor de cada lado deve ser menor que a
soma dos outros 2 lados e deve ser maior que o valor
absoluto da diferença entre os outros 2 lados.

| B - C | < A < B + C
| A - C | < B < A + C
| A - B | < C < A + B
"""
#a = 3, b = 4, c = 5
#1 < 3 < 9 OK
#2 < 4 < 8 OK
#1 < 5 < 7 OK

#a = 1, b = 10, c = 20
#10 < 1 < 30 NOK
#19 < 10 < 21 NOK
#9 < 20 < 11 NOK
a = float(input("Digite o valor de A: "))
b = float(input("Digite o valor de B: "))
c = float(input("Digite o valor de C: "))
while abs(b-c) >= a or a >= (b+c)\
      or abs(a-c) >= b or b >= (a+c)\
      or abs(a-b) >= c or c >= (a+b):
  print("Os valores não formam um triângulo, digite novamente.")
  a = float(input("Digite o valor de A: "))
  b = float(input("Digite o valor de B: "))
  c = float(input("Digite o valor de C: "))
print("Os valores formam um triângulo.")

Digite o valor de A: 1
Digite o valor de B: 10
Digite o valor de C: 20
Os valores não formam um triângulo, digite novamente.
Digite o valor de A: 3
Digite o valor de B: 9
Digite o valor de C: 18
Os valores não formam um triângulo, digite novamente.
Digite o valor de A: 4
Digite o valor de B: 5
Digite o valor de C: 6
Os valores formam um triângulo.

In [18]:
"""leia do teclado uma temperatura em graus Fahrenheit e mostre
na tela o seu valor convertido em Celsius. Lembrando que
(c/5) = (f-32)/9. (Valores inválidos: menores que -457,69)."""
f = float(input("Digite a temperatura em Fahrenheit: "))
c = ((f - 32) / 9) * 5
print("A temperatura de", f, "Fº convertida em Celsius é de",c,"Cº." )

Digite a temperatura em Fahrenheit: 212
A temperatura de 212.0 Fº convertida em Celsius é de 100.0 Cº.

In [19]:
#Mostrar na tela todos os números ímpares de 5 à 55
for n in range(5,56):
  if n % 2 == 1:
    print(n)

5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55